{% extends "layout.html" %}
{% block content %}

<div class="content-section">
    <fieldset class="form-group">
        <form method="POST" action="">
            {{ form.hidden_tag() }}
                {% for l in form %}
                    {% if l.type != 'CSRFTokenField' and l.type!='SubmitField' %}
                        <div class="form-row align-items-center">
                            <div class="col col-sm-1 ">
                                {{ l.label(class="form-control-label") }}
                            </div>
                            <div class="col col-sm-1">
                            {{ l(class="form-control form-control-md") }}
                            </div>
                        </div>
                    {% endif %}
                {% endfor %}
        </form>
    </fieldset>
    <div class="form-group">
    {{ form.submit(class="btn btn-outline-info") }}
    </div>
</div>

{% endblock content %}