{% extends "layout.html" %}
{% block content %}

<div class="content-section">
    <fieldset class="form-group">
        <form method="POST" action="">
            {{ form.hidden_tag() }}
                <table>
                <tr>
                {% for l in form %}
                    {% if l.type != 'CSRFTokenField' and l.type!='SubmitField' %}
                             <th>{{ l.label(class="form-control-label") }}</th>

                    {% endif %}
                {% endfor %}
                </tr>                            
                {% for entry in range(noentries) %}
                    <tr>
                    {% for l in form %}
                        {% if l.type != 'CSRFTokenField' and l.type!='SubmitField' %}
                                 <th>{{ l(class="form-control form-control-md") }}</th>
                        {% endif %}
                    {% endfor %}  
                    </tr>            
                {% endfor %}
                </table>
        </form>
    </fieldset>
    <div class="form-group">
    {{ form.submit(class="btn btn-outline-info") }}
    </div>
</div>

{% endblock content %}